[submodule "src/OpenFeature.Contrib.Providers.Flagd/schemas"]
	path = src/OpenFeature.Contrib.Providers.Flagd/schemas
	url = git@github.com:open-feature/schemas.git
[submodule "spec"]
	path = spec
	url = https://github.com/open-feature/spec.git
[submodule "src/OpenFeature.Contrib.Providers.Flagd/flagd-testbed"]
	path = src/OpenFeature.Contrib.Providers.Flagd/flagd-testbed
	url = https://github.com/open-feature/flagd-testbed.git
