name: Run Release Release

on:
  push:
    branches:
      - main

jobs:
  release-package:
    runs-on: windows-latest

    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          dotnet-version: |
            6.0.x
            7.0.x
          source-url: https://nuget.pkg.github.com/open-feature/index.json

      - name: Install dependencies
        if: ${{ steps.release.outputs.releases_created }}
        run: dotnet restore

      - name: Build
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          dotnet build --configuration Release --no-restore -p:Deterministic=true

      - name: Pack
        if: ${{ steps.release.outputs.releases_created }}
        run:  |
          dotnet pack --configuration Release --no-build

      - name: Publish to Nuget
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          dotnet nuget push --skip-duplicate "**/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_TOKEN}}
